
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div class="alert-success" *ngIf="status == 'success'">
        Login Completo!!
    </div>
    <div class="alert-danger" *ngIf="status == 'error'">
        No te has identificado correctamente 
    </div>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/login.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <input type="email" id="login" class="fadeIn second" placeholder="login"  name="email" #email="ngModel" [(ngModel)]="user.email">
      <span *ngIf="!email.valid && email.touched">
        El email es obligatorio
    </span>
      <input type="password" id="password" class="fadeIn third"  placeholder="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
      <span *ngIf="!password.valid && password.touched">
        El password es obligatorio
    </span>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>

