<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-end">
    <a class="navbar-brand" href="/home">
      NGZOO
    </a>
    <div class="collapse navbar-collapse flex-grow-3">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="/home">
          <span class="bi bi-house">
          </span>
          Home
        </a>
        <a class="nav-item nav-link" href="/animales" *ngIf="identity.name">
          <span class="bi bi-columns-gap">
          </span>
          Animales
        </a>
        <a class="nav-item nav-link" href="/cuidadores" *ngIf="identity.name">
          <span class="bi bi-person-check-fill">
          </span>
          Cuidadores
        </a>
        <a class="nav-item nav-link" href="/contacto">
          <span class="bi bi-journal">
          </span>
          Contacto
        </a>
        <a class="nav-item nav-link" href="/tienda">
          <span class="bi bi-bag-check">
          </span>
          Tienda
        </a>
      </div>
    </div>
  
    <div class="collapse navbar-collapse flex-grow-0">
      <ul class="navbar-nav" *ngIf="!identity.name">
        <li class="nav-item active">
          <a class="nav-link" href="/registro"><span class="bi bi-person-circle">
            </span> Registro</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login"><span class="bi bi-box-arrow-in-right">
            </span> Login</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse flex-grow-0">
      <ul class="navbar-nav navbar-right" *ngIf="identity.name">
        <li class="avatar">
          <img src="{{ url + 'get-image-file/' + identity.image}}"/>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{identity.name}}
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
              <a class="dropdown-item"  href="/admin-panel">
                <span class="bi bi-gear"></span> Administración
              </a>
            </li>
            <li>
              <a class="dropdown-item"  href="/mis-datos">
                <span class="bi bi-gear"></span> Mis Datos
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="logout()">
                <span class="bi bi-gear"></span> Salir
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="col-lg-11">
  <router-outlet></router-outlet>
</div>